<!DOCTYPE html>
<html xml:lang="es" lang="es">

<head>
    <title>Generador de Informes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/css/administradores.css">
</head>

<body>
    <div id="menu"></div>

    <div class="container-fluid">
        <div class="row bg-dark bg-gradient text-white" id="filtros">
            <div class="col form-group">
                <label for="convenio">Convenio</label>
                <select id="conv" class="form-control">
                    <option value="" selected>Todos</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="empresa">Empresa</label>
                <select id="emp" class="form-control">
                    <option value="" disabled selected>Todas</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="concepto">Concepto</label>
                <select id="conc" class="form-control">
                    <option value="" disabled selected>Todos</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="tipo">Tipo</label>
                <select id="tipo" class="form-control">
                    <option value="" disabled selected>Todos</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="jurisdiccion">Jurisdicción</label>
                <input type="text" id="jurisdiccion" class="form-control" placeholder="Todas">
            </div>
            <div class="col-md-1 form-group">
                <label>Habilitado</label><br>
                <input type="checkbox" id="habilitadoTrue"> Sí
                <input type="checkbox" id="habilitadoFalse"> No
              </div>
            <div class="col-md-1 form-group btn-buscar">
                <button type="button" class="btn btn-outline-light" id="btnBuscar" title="Buscar">
                    <i class="material-symbols-outlined">search</i>
                </button>
            </div>
        </div>
        <div id="loadingOverlay" class="loading-overlay">
            <div class="loading-spinner"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-striped" style="display: none;" id="tablaDatos">
                <thead>
                    <tr>
                        <th>Convenio</th>
                        <th>Empresa</th>
                        <th>Concepto</th>
                        <th>Tipo</th>
                        <th>Jurisdicción</th>
                        <th>Filtros</th>
                        <th>Archivo de Control</th>
                        <th>Archivo de Modelo</th>
                        <th>Archivo de Nómnina</th>
                        <th>Habilitado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <script src="/static/js/modelos.js"></script>
</body>

</html>