#logo {
    width: 180px;
}

.title-right {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 50px;
}
/* hsta aquí */

body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.form-group {
    margin-bottom: 20px;
}

th {
    text-align: center;
}

tbody td {
    text-align: center;
}

.table td {
    padding: 0;
    vertical-align: middle;
}

.table th {
    vertical-align: middle;
}

.btn-buscar {
    display: flex;
    align-items: center;
}

th i.material-icons {
    vertical-align: middle;
}

.cancel-icon {
    color: red;
}

.check-icon {
    color: green;
}

.expand-icon {
    color: blue;
}

#filtros {
    height: 80px;
    z-index: 10;
}

#tablaDatos {
    display: none;
    z-index: 1;
}

.procesar-button {
    background-color: lightslategray; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 4px 5px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    margin: -3px 2px; /* Margen */
    border-radius: 4px; /* Bordes redondeados */
    position: relative;
    top: -4px;
}

.procesar-button:hover {
    background-color: rgb(61, 70, 78); /* Cambiar color de fondo al pasar el mouse */
}

.procesar-btn {
    padding: 0;
    width: 25px;
    height: 25px;
    position: relative;
    top: -7px;
    margin: -2px 3px;
}